body{
    background-image: url(./imgs/imagem-fundo.jpg);
    background-size: cover;
    

}
.calc{
    align-items: center;
    
    background-color: #4b5c49;
    
}
.calc p {
    color: aliceblue;
}
.calc label{
    color: aliceblue;
}
.calc h2{
    color: aliceblue;
}


