body{
    background-image: url(./imgs/imagem-fundo.jpg);
    background-size: cover;
    

}
.calc{
    background-color: rgb(73, 107, 73);
    width: 400px;
    padding: 30px;
    border-radius: 8px;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    
    
    
}
.calc p {
    color: aliceblue;
}
.calc label{
    color: aliceblue;
}
.calc h2{
    color: aliceblue;
}
.calc button{
    background-color: #00ec76;
    color: aliceblue;
    height: 25px;
    width: 310px;
    
}
.calc img{
    width: 300px;
    height: 120px;
}
.calc input{
    width: 300px;
}




